html{
  background-image: url('./lib/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: 16px;
}

p{
  font-size: 20px
}

button {
  border: 0;
  margin: 0 20px;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(236, 167, 16);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

button:hover {
  background-color: rgb(216, 135, 14);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

input{
  padding:5px 15px; border:2px black solid;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
}

h2{
  color:purple;
  text-align: center;
}

.App {
  text-align: center;
  padding-bottom: 20px;
}

.flexbox-container {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, .2);
  margin: 0 20px 10px 20px;
}

.flexbox-container div {
  /* display: none; */
  flex-grow: 1;
  flex-basis: 0;
}

.flexbox-container p {
  margin: 0 0 10px 10px;
}

.errormsg{
  text-align: center;
}     

.head{
  font-size: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center; 
  align-items: center;
  background-color: coral;
  background-size: 100% 100%;
  font-family: fantasy;
}

.type{
  font-family: 'Courier New', Courier, monospace;
  border: 0;
  margin: 0 10px;
  line-height: 2.5;
  font-size: 28px;
  text-align: center;
  color: rgb(51, 35, 45);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(127, 255, 212, 0.692);
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.type:hover {
  background-color: rgba(45, 177, 133, 0.692);
}

.type:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}


.cent{
  text-align: center;
}
